body {
  background-color: grey;
}

.centerform {
  text-align: center;
}

#ERtable {
  text-align: center;
  align-content: center;
}

.highlighted {
  font-style: italic;
  border-color: blue;
  border-style: dashed;
  border-width: 10px;

}
