body {
  background-color: #f4f7fc;
}


.displayDiv {
	margin: 20px;
	padding: 3px;
	border: solid #7e967c 2px;
	background-color: #afc1ae ;
	display: block;
}

.tableContainer{
	display: inline-block;
	border: solid black 0px;
	background-color: #c7d1c6;
	padding:5px;
	overflow:scroll;
	height: 250px;
	width: auto;
	overflow:auto;
}
.nothover,
.unselected {
	background-color: #f4f7fc;
}
tr{
	outline: solid #a566a3 0px;
}
.selected{
	background-color: #c6e2c3;
}

.hover{
	background-color:#c6e2c3;
}

